
$greylight: #E6E6E6;
$greymedium: #D4D4D4;
$greymedium2: #A0A0A0;
$greydeep: #4D5257;
$greydark: #2A2F34;
$gold: #C09933;

$pad: 15px;
$pad2: 35px;
$pad3: 80px;
$padsmall: 7px;

$fontxl: 50px;
$fontll: 30px;
$fontl: 19px;
$fontm: 17px;
$fontbody: 14px;
$fonts: 14px;

$nav-bar-height: 60px;

@mixin circleimg {
    border-radius: 50%;
    border: 2px solid #fff;
}

@mixin shadowbox {
    padding: $pad;
    background: $greylight;
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
}

img.profile-image {
    @include circleimg;
    width: 90px; height: 90px;
}

a {
    color: $gold;

    &:hover {
        text-decoration: none;
        color: darken($gold, 10%);
    }
}

body {
    background: $greydeep;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: $fontbody;
    overflow: hidden;
    
    .background-image {
        opacity: 0.5;
        position: absolute;
        top: -20px; left: -20px; bottom: -20px; right: -20px;
        background: url(/img/background.jpg);
        background-size: cover;

        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    > .wrapper {
        position: relative;
    }
}




::-webkit-scrollbar
{
    width: 20px;  /* for vertical scrollbars */
    height: 20px; /* for horizontal scrollbars */
    
}

::-webkit-scrollbar-track
{
    background: $greydark;
}

::-webkit-scrollbar-thumb
{
    background: $greydeep;
    border-radius: 14px;
    border: 7px solid $greydark;
}


@mixin story-list {
    background: $greylight;
    height: 100vh;
    
    ul {
        li a {
            display: block;
            height: 80px;
            border-bottom: 1px solid $greymedium;
            padding: $pad;
            position: relative;
            
            &:hover {
                text-decoration: none;
            }
            
            img.story-image {
                @include circleimg;
                width: 50px; height: 50px;
                background: $greydeep;
                float: left;
                margin-right: $pad;
            }
            
            h3 {
                color: black;
                font-size: $fontm;
                font-weight: 600;
                margin: $pad/2 0 4px 0;
                white-space: nowrap;
                overflow: hidden;
                padding-right: $pad;
            }
            p {
                color: $greymedium2;
                margin: 0;
                font-size: $fonts;
                white-space: nowrap;
                overflow: hidden;
                padding-right: $pad;
            }

            div.selection {
                position: absolute;
                right: 0;
                top: 14px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 27.5px 25px 27.5px 0;
                border-color: transparent $greydark transparent transparent;
            }                
        }
    }
}    