$card-profile-image: 60px;
$card-left-column: $card-profile-image + 2 * $pad * 1.5;

div.scroll-area {
    height: 100vh;
    overflow: auto;
    background: url(/img/timeline_bg_dot.png) repeat-y top left;
    background-position-x: $card-left-column / 2 - 2px;
    background-size: 4px;
}

div.timeline-card {
    display: flex;
    flex-flow: row;

    > div.left {
        width: $card-left-column;
        padding: $pad * 1.5;
        img.card-profile-image {
            display: block;
            @include circleimg;
            width: $card-profile-image; height: $card-profile-image;
        }
        
    }
    
    > div.card {
        flex: 1;
        height: 100%;
        background: $greylight;
        color: $greydark;
        margin: $pad 0;
        padding: $pad;

        box-shadow: 0 5px 10px rgba(0,0,0,0.8);

        div.date {
            color: $greymedium2;
        }

        div.card-title {
            margin: $padsmall 0 0 0;
            font-size: $fontbody + 1px;
            
            a {
                text-transform: uppercase;
                color: black;
                font-weight: 600;
            }
        }

        div.summary {
            margin: $padsmall 0 0 0
        }

        div.hashtags {
            margin: $padsmall 0 0 0
        }

        div.likes {
            background: $greymedium;
            color: $greymedium2;
            margin-top: $padsmall;
            margin-bottom: -$pad;
            margin-left: -$pad;
            margin-right: -$pad;
            padding: 10px $pad;
            .like-button {
                cursor: pointer;
                float: right;
                width: 28px;
            }
       }
    }
}