
div.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  top: 0;
  @include transition(all .5s ease-in-out);
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1; 
}

[ui-view].ng-leave-active {
  opacity: 0;
}

@mixin circleimg {
    border-radius: 50%;
    border: 3px solid #666;
}

img.profile-image {
    @include circleimg;
}

img.card-profile-image {
    @include circleimg;
    width: 60px; height: 60px;
}