<div ng-controller="CardListCtrl" class="cardlist">
    <div class="timeline-card" ng-repeat="card in cards" >

        <div class="left">
            <card-image card="card" story="story" profile="state.profile" who="author"></card-image>
            <card-image card="card" story="story" profile="state.profile" who="target"></card-image>
        </div>

        <div class="card">
            <div class="date">{{ card.card_date }}</div>
            <card-title card="card" story="story" profile="state.profile"></card-title>

            <div class="summary" ng-show="card.summary">
                {{ card.summary }}
            </div>
            
            <div class="hashtags" ng-show="card.hashtags">
                <a ng-repeat="h in card.hashtags" href ui-sref="story.hashtag({storyId: story.id, hashtagId: h.id})">
                    {{ h.title }}
                </a>
            </div>
            
            <div class="likes">
                <span ng-bind="likeText(card, story)"></span>
                <img class="like-button" ng-src="{{ likeImage(card) }}" />
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
