<div class="profile">

    <div scroll-container>
        <div>
            
            <div class="box details">

                <div class="head">
                    <img ng-src="{{ state.profile.image }}" class="head-image" />

                    <h2>{{ state.profile.title }}</h2>

                    <div class="subtitle">
                        {{ state.profile.email }}
                    </div>
                </div>
            </div>
            
            <div class="box network" ng-show="story.network.length">
                <h3>{{ 'heading_network'|i18n }}</h3>
                
                <a ng-repeat="p in network" class="member" href ui-sref="story.person({storyId: story.id, personId: p.id})">
                    <img ng-src="{{ p.image }}" />
                    <h4>{{ p.title }}</h4>
                    <p>{{ p.subtitle }}</p>
                </a>

            </div>

            <div class="box">
                <a href ui-sref="page.help" class="block-link">Help</button>
                <a href ui-sref="page.credits" class="block-link">Credits</button>
                <a href ng-click="logout()" class="block-link">Log out</button>
            </div>
            
        </div>
    </div>
    
</div>
